/* bottone fine sidebar */

.hover-active {
  transition: background-color 0.3s ease;
  background-color: #ffffff;
}

.hover-active:hover {
  background-color: rgba(185, 185, 185, 0.452);
}

.main {
  background-color: #f4f2ee;
}


.dropdown-toggle::after {
    content: none !important;
}
:root {
  background-color: #f4f2ee;
}
